body {
  margin: 0;
  font-family: Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 24px;
}

h1 {
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 10px;
  font-weight: 700;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.footnote {
  font-size: 12px;
  text-align: left;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: #00c29c;
  border: none;
  display: inline-block;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px 12px 24px;
  transition: background-color 0.2s ease-in-out;
  margin: 6px 0 24px 0;
  &:hover {
    background-color: #00896c;
  }
}

.headerLink {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
